body {
  font-family: Georgia;
}

h2 {
  color: black;
  text-align: left;
  padding: 20px;
}

table.button {
  font-size: 0.8em;
  position: absolute;
  top: 80px;
  left: 55px;
}

table.comment {
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(150,150,150);
  position: absolute;
  top: 150px;
  left: 80px;
  width: 280px;
}

td.comment {
  text-align: justify;
}

a.button {
  padding: 2px;
  margin: 5px;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: orange;
}

.axis {
  font-size: 0.8em;
}

path {
  fill: none;
  stroke: lightgray;
  stroke-width: 1px;
}

.tick {
  fill: none;
  stroke: black;
}

text {
  align-baseline: middle;
}

.surv{
  fill: orange;
  color: orange;
  text-anchor: start;
  font-weight: bold;
}

.died{
  fill: rgb(100,100,100);
  color: rgb(100,100,100);
  text-anchor: end;
  font-weight: bold;
}

circle.surv:hover {
  fill: orangered;
}
circle.died:hover {
  fill: rgb(0,0,0);
}

.cir-tip {
  line-height: 1;
  font-size: 12px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
}

.note {
  font-size: 0.7em; 
}

.bg {
  opacity: 0.5;
}